<h1 align=center><font size = 6>Seattle Road Collisions Project</font></h1>

Every year about **1.35 million** people lose their lives in road accident, where half of them are due to bad weather, poor quality of road and technical error. Even though if the help reaches them on time, it cannot decide how to treat or don't have propper equipmentsto treat. That collision even cause trouble to all the upcoming traffic in delay.
<br><br>
So can we make a model to predict the severity of an accident using the basic data of weather, road and other data. This project is  based on a data from Seattle road accident from year 2004-
<br>

##### let's get started

In [1]:
#firstly, let's import the basic data libraries

import pandas as pd
import numpy as np

this data file is a .csv file, lets import it now

In [251]:
df= pd.read_csv('Data-Collisions.csv')

C:\Users\vinit\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [252]:
df.head() #lets see first 5 rows of ouw data

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [253]:
df.describe(include='all')

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
count,194673.000000,189339.000000,189339.000000,194673.000000,194673.000000,194673.000000,194673,194673,192747,65070.000000,...,189661,189503,4667,1.149360e+05,9333,194655,189769,194673.000000,1.946730e+05,194673
unique,NaN,NaN,NaN,NaN,NaN,NaN,194670,2,3,NaN,...,9,9,1,NaN,1,115,62,NaN,NaN,2
top,NaN,NaN,NaN,NaN,NaN,NaN,1776526,Matched,Block,NaN,...,Dry,Daylight,Y,NaN,Y,32,One parked--one moving,NaN,NaN,N
freq,NaN,NaN,NaN,NaN,NaN,NaN,2,189786,126926,NaN,...,124510,116137,4667,NaN,9333,27612,44421,NaN,NaN,187457
mean,1.298901,-122.330518,47.619543,108479.364930,141091.456350,141298.811381,NaN,NaN,NaN,37558.450576,...,NaN,NaN,NaN,7.972521e+06,NaN,NaN,NaN,269.401114,9.782452e+03,NaN
std,0.457778,0.029976,0.056157,62649.722558,86634.402737,86986.542110,NaN,NaN,NaN,51745.990273,...,NaN,NaN,NaN,2.553533e+06,NaN,NaN,NaN,3315.776055,7.226926e+04,NaN
min,1.000000,-122.419091,47.495573,1.000000,1001.000000,1001.000000,NaN,NaN,NaN,23807.000000,...,NaN,NaN,NaN,1.007024e+06,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
25%,1.000000,-122.348673,47.575956,54267.000000,70383.000000,70383.000000,NaN,NaN,NaN,28667.000000,...,NaN,NaN,NaN,6.040015e+06,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
50%,1.000000,-122.330224,47.615369,106912.000000,123363.000000,123363.000000,NaN,NaN,NaN,29973.000000,...,NaN,NaN,NaN,8.023022e+06,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
75%,2.000000,-122.311937,47.663664,162272.000000,203319.000000,203459.000000,NaN,NaN,NaN,33973.000000,...,NaN,NaN,NaN,1.015501e+07,NaN,NaN,NaN,0.000000,0.000000e+00,NaN
max,2.000000,-122.238949,47.734142,219547.000000,331454.000000,332954.000000,NaN,NaN,NaN,757580.000000,...,NaN,NaN,NaN,1.307202e+07,NaN,NaN,NaN,525241.000000,5.239700e+06,NaN

In [256]:
df.shape

(194673, 38)

In [257]:
df.dtypes

SEVERITYCODE        int64
X                 float64
Y                 float64
OBJECTID            int64
INCKEY              int64
COLDETKEY           int64
REPORTNO           object
STATUS             object
ADDRTYPE           object
INTKEY            float64
LOCATION           object
EXCEPTRSNCODE      object
EXCEPTRSNDESC      object
SEVERITYCODE.1      int64
SEVERITYDESC       object
COLLISIONTYPE      object
PERSONCOUNT         int64
PEDCOUNT            int64
PEDCYLCOUNT         int64
VEHCOUNT            int64
INCDATE            object
INCDTTM            object
JUNCTIONTYPE       object
SDOT_COLCODE        int64
SDOT_COLDESC       object
INATTENTIONIND     object
UNDERINFL          object
WEATHER            object
ROADCOND           object
LIGHTCOND          object
PEDROWNOTGRNT      object
SDOTCOLNUM        float64
SPEEDING           object
ST_COLCODE         object
ST_COLDESC         object
SEGLANEKEY          int64
CROSSWALKKEY        int64
HITPARKEDCAR       object
dtype: object

## Analysing data

In [258]:
#the data we have to predict is 'severitycode'

df['SEVERITYCODE'].value_counts()

1    136485
2     58188
Name: SEVERITYCODE, dtype: int64

**what severity code means--------------->**

| code | Severity |
|------|----------|
|  0   |  unknown |
|  1   |serious damage|
|  2   |  injury  |
|  2b  |serious injury|
|  3   | fatality |

In [259]:
#checking nan values in each column
df.isnull().sum()

SEVERITYCODE           0
X                   5334
Y                   5334
OBJECTID               0
INCKEY                 0
COLDETKEY              0
REPORTNO               0
STATUS                 0
ADDRTYPE            1926
INTKEY            129603
LOCATION            2677
EXCEPTRSNCODE     109862
EXCEPTRSNDESC     189035
SEVERITYCODE.1         0
SEVERITYDESC           0
COLLISIONTYPE       4904
PERSONCOUNT            0
PEDCOUNT               0
PEDCYLCOUNT            0
VEHCOUNT               0
INCDATE                0
INCDTTM                0
JUNCTIONTYPE        6329
SDOT_COLCODE           0
SDOT_COLDESC           0
INATTENTIONIND    164868
UNDERINFL           4884
WEATHER             5081
ROADCOND            5012
LIGHTCOND           5170
PEDROWNOTGRNT     190006
SDOTCOLNUM         79737
SPEEDING          185340
ST_COLCODE            18
ST_COLDESC          4904
SEGLANEKEY             0
CROSSWALKKEY           0
HITPARKEDCAR           0
dtype: int64

In [260]:
df.groupby(['ROADCOND','LIGHTCOND','SPEEDING','ST_COLCODE'])['SEVERITYCODE'].value_counts()

ROADCOND  LIGHTCOND                SPEEDING  ST_COLCODE  SEVERITYCODE
Dry       Dark - No Street Lights  Y         14          2               1
                                             23          1               1
                                             32          1               5
                                                         2               2
                                             50          2               7
                                                                        ..
Wet       Unknown                  Y         28          1               1
                                             30          1               1
                                             32          1               3
                                                         2               1
                                             50          1               4
Name: SEVERITYCODE, Length: 898, dtype: int64

In [261]:
df.groupby('PEDCYLCOUNT')['SEVERITYCODE'].value_counts()

PEDCYLCOUNT  SEVERITYCODE
0            1               135806
             2                53383
1            2                 4762
             1                  679
2            2                   43
Name: SEVERITYCODE, dtype: int64

## DATA PROCESSING

From above data we can see that the data can be splited into two parts, 
1. the accident severity predictor part
2. the location part

so, lets create a new df named <a>df_pred</a> for the prediction with useful attributes

In [262]:
df_pred = df[['OBJECTID','ADDRTYPE','PERSONCOUNT','PEDCOUNT','PEDCYLCOUNT','VEHCOUNT','INCDTTM','SDOT_COLCODE','INATTENTIONIND',
             'UNDERINFL','WEATHER','ROADCOND','LIGHTCOND','PEDROWNOTGRNT','SPEEDING','ST_COLCODE']].copy(deep=True)

#a initial df is created....
#later some more attributes will be removed

In [263]:
#let's take a quick over vief of the data
df_pred.describe(include='all')

,OBJECTID,ADDRTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INCDTTM,SDOT_COLCODE,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SPEEDING,ST_COLCODE
count,194673.000000,192747,194673.000000,194673.000000,194673.000000,194673.000000,194673,194673.000000,29805,189789,189592,189661,189503,4667,9333,194655
unique,NaN,3,NaN,NaN,NaN,NaN,162058,NaN,1,4,11,9,9,1,1,115
top,NaN,Block,NaN,NaN,NaN,NaN,11/2/2006,NaN,Y,N,Clear,Dry,Daylight,Y,Y,32
freq,NaN,126926,NaN,NaN,NaN,NaN,96,NaN,29805,100274,111135,124510,116137,4667,9333,27612
mean,108479.364930,NaN,2.444427,0.037139,0.028391,1.920780,NaN,13.867768,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,62649.722558,NaN,1.345929,0.198150,0.167413,0.631047,NaN,6.868755,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,NaN,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,54267.000000,NaN,2.000000,0.000000,0.000000,2.000000,NaN,11.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,106912.000000,NaN,2.000000,0.000000,0.000000,2.000000,NaN,13.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,162272.000000,NaN,3.000000,0.000000,0.000000,2.000000,NaN,14.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,219547.000000,NaN,81.000000,6.000000,2.000000,12.000000,NaN,69.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [264]:
#looking at the data type of the df
df_pred.dtypes

OBJECTID           int64
ADDRTYPE          object
PERSONCOUNT        int64
PEDCOUNT           int64
PEDCYLCOUNT        int64
VEHCOUNT           int64
INCDTTM           object
SDOT_COLCODE       int64
INATTENTIONIND    object
UNDERINFL         object
WEATHER           object
ROADCOND          object
LIGHTCOND         object
PEDROWNOTGRNT     object
SPEEDING          object
ST_COLCODE        object
dtype: object

In [265]:
#shape
df_pred.shape

(194673, 16)

In [266]:
#now, convert the datetime to pandas date time format
df_pred['INCDTTM'] = pd.to_datetime(df_pred['INCDTTM'])
df_pred['INCDTTM']

0        2013-03-27 14:54:00
1        2006-12-20 18:55:00
2        2004-11-18 10:20:00
3        2013-03-29 09:26:00
4        2004-01-28 08:04:00
                 ...
194668   2018-11-12 08:12:00
194669   2018-12-18 09:14:00
194670   2019-01-19 09:25:00
194671   2019-01-15 16:48:00
194672   2018-11-30 15:45:00
Name: INCDTTM, Length: 194673, dtype: datetime64[ns]

In [267]:
#checking the null values...
df_pred.isnull().sum()

OBJECTID               0
ADDRTYPE            1926
PERSONCOUNT            0
PEDCOUNT               0
PEDCYLCOUNT            0
VEHCOUNT               0
INCDTTM                0
SDOT_COLCODE           0
INATTENTIONIND    164868
UNDERINFL           4884
WEATHER             5081
ROADCOND            5012
LIGHTCOND           5170
PEDROWNOTGRNT     190006
SPEEDING          185340
ST_COLCODE            18
dtype: int64

In [268]:
#removing null values

#lets fill the nan values with the most common element in the attribute.
df_pred['ADDRTYPE']=df_pred['ADDRTYPE'].fillna(df_pred['ADDRTYPE'].mode().iloc[0])
df_pred['UNDERINFL']=df_pred['UNDERINFL'].fillna(df_pred['UNDERINFL'].mode().iloc[0])
df_pred['WEATHER']=df_pred['WEATHER'].fillna(df_pred['WEATHER'].mode().iloc[0])
df_pred['ROADCOND']=df_pred['ROADCOND'].fillna(df_pred['ROADCOND'].mode().iloc[0])
df_pred['LIGHTCOND']=df_pred['LIGHTCOND'].fillna(df_pred['LIGHTCOND'].mode().iloc[0])
df_pred['ST_COLCODE']=df_pred['ST_COLCODE'].fillna(df_pred['ST_COLCODE'].mode().iloc[0])

#Converting nan values to 0
df_pred['INATTENTIONIND']=df_pred['INATTENTIONIND'].fillna(0)
df_pred['SPEEDING']=df_pred['SPEEDING'].fillna(0)
df_pred['PEDROWNOTGRNT']=df_pred['PEDROWNOTGRNT'].fillna(0)

In [269]:
# again checking the null values...
df_pred.isnull().sum()

OBJECTID          0
ADDRTYPE          0
PERSONCOUNT       0
PEDCOUNT          0
PEDCYLCOUNT       0
VEHCOUNT          0
INCDTTM           0
SDOT_COLCODE      0
INATTENTIONIND    0
UNDERINFL         0
WEATHER           0
ROADCOND          0
LIGHTCOND         0
PEDROWNOTGRNT     0
SPEEDING          0
ST_COLCODE        0
dtype: int64

## DATA NORMALIZATION

In [270]:
df_pred.describe(include='all')

,OBJECTID,ADDRTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INCDTTM,SDOT_COLCODE,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SPEEDING,ST_COLCODE
count,194673.000000,194673,194673.000000,194673.000000,194673.000000,194673.000000,194673,194673.000000,194673.0,194673,194673,194673,194673,194673.0,194673.0,194673
unique,NaN,3,NaN,NaN,NaN,NaN,162058,NaN,2.0,4,11,9,9,2.0,2.0,115
top,NaN,Block,NaN,NaN,NaN,NaN,2006-11-02 00:00:00,NaN,0.0,N,Clear,Dry,Daylight,0.0,0.0,32
freq,NaN,128852,NaN,NaN,NaN,NaN,96,NaN,164868.0,105158,116216,129522,121307,190006.0,185340.0,27630
first,NaN,NaN,NaN,NaN,NaN,NaN,2004-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,2020-05-20 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,108479.364930,NaN,2.444427,0.037139,0.028391,1.920780,NaN,13.867768,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,62649.722558,NaN,1.345929,0.198150,0.167413,0.631047,NaN,6.868755,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,NaN,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,54267.000000,NaN,2.000000,0.000000,0.000000,2.000000,NaN,11.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,106912.000000,NaN,2.000000,0.000000,0.000000,2.000000,NaN,13.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,162272.000000,NaN,3.000000,0.000000,0.000000,2.000000,NaN,14.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,219547.000000,NaN,81.000000,6.000000,2.000000,12.000000,NaN,69.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [248]:
df_pred.dtypes

OBJECTID                   int64
ADDRTYPE                  object
PERSONCOUNT                int64
PEDCOUNT                   int64
PEDCYLCOUNT                int64
VEHCOUNT                   int64
INCDTTM           datetime64[ns]
SDOT_COLCODE               int64
INATTENTIONIND            object
UNDERINFL                 object
WEATHER                   object
ROADCOND                  object
LIGHTCOND                 object
PEDROWNOTGRNT             object
SPEEDING                  object
ST_COLCODE                object
dtype: object

In [271]:
#for ADDRTYPE
df_pred['ADDRTYPE'].replace(to_replace=['Block','Intersection','Alley'], value=[0,1,2],inplace=True)

In [275]:
df_pred['INATTENTIONIND'].replace(to_replace='Y', value=1,inplace=True)

In [278]:
df_pred['UNDERINFL'].replace(to_replace=['N','Y'], value=[0,1],inplace=True)

In [326]:
df_pred['UNDERINFL']=df_pred['UNDERINFL'].astype(dtype='int64')

In [294]:
df_pred['PEDROWNOTGRNT'].replace(to_replace='Y', value=1,inplace=True)

In [296]:
df_pred['SPEEDING'].replace(to_replace='Y', value=1,inplace=True)

In [301]:
df_pred['ST_COLCODE'].replace(to_replace=' ', value=np.nan,inplace=True)

In [315]:
df_pred['ST_COLCODE'].fillna(method='ffill', inplace = True)

In [325]:
df_pred['ST_COLCODE']=df_pred['ST_COLCODE'].astype(dtype='int64')

In [327]:
df_pred.dtypes

OBJECTID                   int64
ADDRTYPE                   int64
PERSONCOUNT                int64
PEDCOUNT                   int64
PEDCYLCOUNT                int64
VEHCOUNT                   int64
INCDTTM           datetime64[ns]
SDOT_COLCODE               int64
INATTENTIONIND             int64
UNDERINFL                  int64
WEATHER                   object
ROADCOND                  object
LIGHTCOND                 object
PEDROWNOTGRNT              int64
SPEEDING                   int64
ST_COLCODE                 int64
dtype: object

data visualisation